<h1 styles="text-align: center;">{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onSelectLocation($event)">
    <agm-marker *ngFor="let marker of markerLocations; let i = index" [latitude]="marker[i].lat" [longitude]="marker[i].lng"></agm-marker>
</agm-map> -->
<form>

    <div class="input-group">
            <label for="validationTooltip03">Εισάγετε περιοχή αναζήτησης</label>
            <!-- <input #search type="text" class="form-control" id="validationTooltip03" placeholder="Περιοχή ή διεύθυνση" required (keydown.enter)="$event.preventDefault()"> -->
             <div class="input-group">
                <input #search type="text" class="form-control" id="validationTooltip03" placeholder="Περιοχή ή διεύθυνση" required (keydown.enter)="$event.preventDefault()">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button" (click)="saveLocation()">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            <div class="invalid-tooltip">
              Παρακαλώ εισάγετε μία έγκυρη περιοχή.
            </div>
    </div> 
    <br>

    <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom"
        (mapClick)="addMarker($event.coords.lat, $event.coords.lng, '')">

        <agm-marker *ngFor="let marker of location.markers; let i = index;" [latitude]="marker.lat"
            [longitude]="marker.lng" (markerClick)="selectMarker($event)" [markerDraggable]="true"
            (dragEnd)="markerDragEnd(coords, $event)">
            <!-- [label]="marker.label" -->
            <agm-info-window #infowindow>
                <input #label id="label" name="label + {{i}}" class="form-control" type="text" [value]="marker.label">
                <input #labelButton class="btn btn-primary btn-sm" type="button" value="Αποθήκευση"
                    (click)="onUpdateLocationMarkers(label.value, i)">
                <!-- <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
                    (click)="onChangeInfoWindowView(i)">>></a> -->
                <input #removeMarkButton class="btn btn-danger btn-sm" type="button" value="Διαγραφή πινέζας"
                    (click)="onDeleteLocationMarkers(i)">
            </agm-info-window>
        </agm-marker>

    </agm-map>
   
    <div>
        <input class="btn btn-primary" type="button" value="Aποθήκευση συντεταγμένων" (click)="onPostLocationMarkers()">
        <input class="btn btn-primary" type="button" value="Ανάκτηση συντεταγμένων" (click)="onGetLocationMarkers()">
    </div>
</form>
<br>




<!-- <label *ngIf="infoWindowView === 0" #label name="label + {{i}}" [value]="marker.label">{{ marker.label }}</label> <br>
<a *ngIf="infoWindowView === 0" href="#" class="" role="button" style="float: right;" aria-pressed="true" (click)="onChangeInfoWindowView(i, 1)">Edit >></a>

<input *ngIf="infoWindowView === 1" #textBox id="text" name="text + {{i}}" class="form-control input-sm" type="text" [value]="marker.label" (value)="marker.label">
<input *ngIf="infoWindowView === 1" #textButton class="btn btn-primary btn-sm" type="button" value="Αποθήκευση"
    (click)="onUpdateLocationMarkers(textBox.value, i)"><br>
<a *ngIf="infoWindowView === 1" href="#" class="active" style="float: left;" role="button" aria-pressed="true" (click)="onChangeInfoWindowView(i, 0)"><< Back</a>
<a *ngIf="infoWindowView === 1" href="#" class="active" style="float: right;" role="button" aria-pressed="true" (click)="onChangeInfoWindowView(i, 2)">More options >></a>

<input *ngIf="infoWindowView === 2" #removeMarkButton class="btn btn-danger btn-sm" type="button" value="Διαγραφή πινέζας"
    (click)="onDeleteLocationMarkers(i)"><br>
<a *ngIf="infoWindowView === 2" href="#" class="" role="button" style="float: left;" aria-pressed="true" (click)="onChangeInfoWindowView(i, 1)"><< Back</a> -->

